.request {
  height: 100%;
  background: rgb(50, 171, 205);
  .row {
    display: flex;
    justify-content: center;
    .my-card {
      .my-card-body {
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 20px;
        //  background: pink;
        #login {
          width: 100%;
          justify-content: center;
          .ant-row {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // background: red;
            align-items: center;
            .ant-col {
              // background-color: yellow;
              max-width: 300px;
              text-align: center;
              .ant-input,
              .ant-input-number {
                // width: 200px;
                // width: inherit;
                width: 100%;
                text-align: center;
                font-size: 1em;
                border: none;
                border-radius: 0;
                border-bottom: 2px solid silver;
              }
            }
          }
        }
      }
    }
  }
}
