.alert-card {
  background: #fff;
  border-radius: 0.625em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  text-align: center;
  border: 1px solid #d3d3d3;

  p {
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ant-alert {
      border-radius: 0;
      margin: 2px;
      text-align: left;
      width: 300px;
    }
  }
}

.alert-card .icon {
  font-size: 6em;
  color: green;
  color: #007bff;
  //   color: #f27474;
  margin-bottom: 20px;
}
.alert-card.success {
.icon{
    color: green;
    color: #28a745;
    color: #52c41a;
  }
}
.alert-card.info {
.icon{
    color: #17a2b8;
    color: #1890ff;
  }
}
.alert-card.warning {
.icon{
    color: orange;
    color: #ffc107;
    color: #faad14;
  }
}
.alert-card.error {
.icon{
    color: red;
    color: #dc3545;
    color: #ff4d4f;
  }
}

.alert-card h2 {
  font-size: 1.875em;
  margin-bottom: 0.625em;
  color: #545454;
}

.alert-card p {
  font-size: 1em;
  margin-bottom: 1.25em;
  color: #545454;
}

.alert-card .button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 0.3125em;
  font-size: 1em;
  cursor: pointer;
  background-color: #7a6ff0;
  color: white;
  text-decoration: none;
}
