.summary-card.alert-card {
  .ant-card-body {
    padding: 5px;
    .ant-descriptions-view {
      border-radius: 0;
  
    .ant-descriptions-item-label {
      text-align: right;
      white-space: nowrap;
      // color: red;
    }
  }
  }
}
