.user-info {
  // background: rgb(27, 157, 1);
  min-height: 40px;
  background: #ebebeb;
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // line-height: 1.6em;
    padding:5px 10px;
  }
}
